.app-container {
    display: flex;
    flex-direction: column;
}

.movie-grid-list {
    width: 65%;
    margin: auto;
}

.no-search{
    padding: 50px;
    margin: auto;
}

@media (max-width: 500px) {
    .no-search{
        padding: 10px;
    }
}